  <footer>
    <p>TEL:<a href="tel:01274546014">01274546014</a></p>
		<p>Email:<a href="mailto: andrewramyeduar@yahoo.com">andrewramyeduar@yahoo.com</a></p>
    <p>Location:Cairo Egypt</p>
  </footer>