<html lang="en">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="weather app with nodejs"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://andrew-weather-node.herokuapp.com/"/>
    <meta property="og:description"    content="this is app to get weather to any city"/>
    <meta property="og:site_name" content="Andrew Weather APP">
    <title>Waether-app</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <section class="allh">
        {{>header}}
    <h1>Waether Nodejs App</h1>
    <h2>Type name of the city</h2>
    <form>
        <input placeholder="Location">
        <button>Search</button>
    </form>
    <div class="center">
        <div class="card">
            <p id="mes0"></p>
            <p id="mes1"></p>
             <p id="mes2"></p>
            <p id="mes3"></p>
            <div id="img">
            </div>
        </div>
    </div>
    </section>
    
    
    {{>footer}}



    <script src="/js/appjs.js"></script>
    <script type="application/ld+json">
    {
      "@context": "http://schema.org/",
      "@type": "Product",
      "name": "Andrew weather APP",
      "url": "https://andrew-weather-node.herokuapp.com/",
      "description":"this is app to get weather to any city.",
    }
  </script>
</body>

</html>