body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}

.allh {
    min-height: 92vh;
}

header {
    height: 55px;
    width: 100vw;
    background: #f8f9fa;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    display: flex;
}

header img {
    height: 50px;
    margin: 0 20px;
}

header a {
    margin: auto;
    text-decoration: none;
    color: #212529;
    font-size: large;
    font-size: 20px;
}

#mes3 {
    color: red;
}

h1,
h2 {
    text-align: center;
}

form {
    display: flex;
    justify-content: center;
}

form input {
    height: 30px;
    font-size: 20px;
}

form button {
    background-color: #3f4d64;
}

.center {
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 600;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    min-width: 450px;
    background: #7f808138;
    text-align: center;
}

.card img {
    height: 100px;
    background: transparent;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    background-color: black;
    color: cornsilk;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    footer {
        position: relative;
        bottom: 0;
    }
}